
@{
    ViewBag.Title = "Show";
}
@model FileData





<h2>Show</h2>

<div id="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <canvas id="xbim-viewer" height="400" style="width:100%"></canvas>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/xbim-viewer.debug.bundle.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var viewer = new xViewer('xbim-viewer');

        viewer.load('@Url.Action("Viewer", "Files",new {FileName= Model.FileName })');
        viewer.start();




        });
      
    </script>



}

