@{ 
    Layout = "~/Views/Shared/_dashbordLayout.cshtml";
}
@model DashBoardVM

<script type="text/javascript">
        $(document).ready(function () {

        var refresh="@Model.Refresh";
            console.log(refresh);
            //side menue
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

            //
            var divElement = $("<div id='mycontent' > Loading..</div>");


            //upload file
            $('#btn-upload').click( function () {

                $('#div-content > #mycontent').remove();
                //add the div content again
                $('#div-content').html(divElement);

                $.ajax({
                    url: '/files/upload',
                    dataType: 'html',
                    success: function (data) {

                        $('#mycontent').html(data);
                    }
                });
            });

            // load projects

            $('#btn-projects').on('click', function () {

                $('#div-content > #mycontent').remove();

                $('#div-content > #mycontent').html(divElement);

                //ajax call

                $.ajax({
                    url: '/projects/index',
                    dataType: 'html',
                    success: function (data) {
                        $('#div-content').html(divElement);
                        $('#mycontent').html(data);
                    }
                });




            });


            //view files

            //$('#btn-home').on('click', function () {

            //});


        });
</script>