
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";


}

@model List<GalleryVM>

<link href="~/src/Gallery/gallery.css" rel="stylesheet" />
<script src="~/src/Gallery/gallery.js"></script>

<div class="container">
    <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">Gallery</h1>
        </div>
        <div align="center">
            <button class="btn btn-default filter-button" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="hdpe">New</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle">Most Downloaded</button>
      
        </div>
        <br />

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <span>Title</span>
            <img src="~/src/Gallery/1-1.PNG" class="img-responsive"/>
            <span class="row">Desciprion: New Dream House</span>
            <span class="row">by: Amr Fayez</span>
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle" style="border: 2px ridge black;">
            <span>Title</span>
            <img src="~/src/Gallery/1.PNG" class="img-responsive "/>
            <span class="row">Desciprion: New Dream House</span>
            <span class="row">by: Amr Fayez</span>
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <img src="~/src/Gallery/2-1.PNG" class="img-responsive"/>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <img src="~/src/Gallery/2.PNG" class="img-responsive"/>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <img src="http://fakeimg.pl/365x365/" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <img src="http://fakeimg.pl/365x365/" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <img src="http://fakeimg.pl/365x365/" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <img src="http://fakeimg.pl/365x365/" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <img src="http://fakeimg.pl/365x365/" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <img src="http://fakeimg.pl/365x365/" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <img src="http://fakeimg.pl/365x365/" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <img src="http://fakeimg.pl/365x365/" class="img-responsive">
        </div>
    </div>
</div>


